@model IEnumerable<caobaModeloFabricacion.Models.OrdenProduccion>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutLogged";
}

<h1>Orden Produccion</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Codigo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Ordenid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Ordenid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Ordenid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
