@model caobaModeloFabricacion.Models.SeguimientoProduccion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SeguimientoProduccion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Avance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Avance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoTrabajado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoTrabajado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialConsumido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialConsumido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaActualizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaActualizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrdenProduccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrdenProduccion.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Operario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Operario.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SeguimientoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
