@model IEnumerable<caobaModeloFabricacion.Models.SeguimientoProduccion>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutLogged";
}

<h1>Seguimiento Produccion</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoTrabajado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialConsumido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaActualizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentarios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdenProduccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempoTrabajado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialConsumido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaActualizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdenProduccion.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operario.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SeguimientoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SeguimientoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SeguimientoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
